.custom-navbar {
	background-color: #34424f; /* Replace with your desired color */
  }
  #navbar {
    background-color: #34424f; /* Navbar background color */
    padding: 10px 0; /* Adjust the padding as needed */
    
  }
  
  .navbar-brand {
	font-size: 1rem; /* Adjust the font size of the brand/logo */
  }
  
  .navbar-nav {
	margin-left: auto;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
   
  }
  
  .nav-item {
	margin-right: 60px; /* Adjust the spacing between navbar items */
  }
  
 
  .navbar-nav .nav-item .nav-link {
    color:white; /* Change to your desired link color */
    border-radius: 10px; /* Optional: Add rounded corners for a softer look */
    transition: background-color 0.10s; /* Add smooth transition effect */
    
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color:white; /* Change to your desired link color on hover */
    background-color:grey; /* Adjust background color on hover */
  }
  
  /* Navbar toggle button color */
  .navbar-toggler-icon {
	background-color: #ffffff;
  }
  
  /* Navbar toggle button color on hover */
  .navbar-toggler:hover .navbar-toggler-icon {
	background-color: #007bff;
  }
  
  /* Adjust the color of the active link */
  .navbar-nav .nav-item.active .nav-link {
	color: #007bff;
  }
  
  /* Media query for adjusting styles on smaller screens */
  @media (max-width: 767px) {
	.navbar-nav {
	  flex-direction: column;
	  align-items: center; /* Center items in the column */
	}
  
	.navbar-toggler {
	  margin-right: 0; /* Adjust the spacing of the toggle button */
	}
  
	.nav-item {
	  margin: 5px 0; /* Adjust spacing between items in the column */
	}
  }
  