.about-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  
  .picture-section {
    flex: 1;
    text-align: center;
  }
  
  .user-image {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .content-section {
    flex: 1;
    padding: 0 20px;
  }
  
  #content-section h1 {
    color: #333;
    margin: 0; 
  font-size:80px ;
  font-weight:bolder;
  }
  h2{
    color: #333;
    margin: 10; 
  font-size:40px ;
  font-weight:bolder;
  text-align: center;
  }
  .content-section p {
    color: #666;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 53px;
    max-width: 600px;
    text-shadow: 0 2px 14px rgba(0,0,0,.38);
  }
  .additional-section {
    margin-top: 50px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
  }
  
  .additional-section h2 {
    color: #333;
    margin: 10; 
  font-size:40px ;
  font-weight:bolder;
  text-align: center;
  }
  
  .additional-section p {
    color: #666;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 53px;
    max-width: 600px;
    text-shadow: 0 2px 14px rgba(0,0,0,.38);
  }
  .content{
    margin-top: 50px;
    padding: 20px;
    border-radius: 8px;
  }
  .content h2{
    color: #333;
    margin: 10; 
  font-size:40px ;
  font-weight:bolder;
  text-align: center;
  }
  .content p{
    color: #666;
    font-size: 24px;
    line-height: 45px;
    margin-bottom: 53px;
    text-shadow: 0 2px 14px rgba(0,0,0,.38);
  }

  .picture1-section {
    flex: 1;
    text-align: center;
  }
  
  .user1-image {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .content1-section {
    flex: 1;
    padding: 0 20px;
  }
  
  .content1-section h1 {
    color: #333;
    margin: 0; 
  font-size:35px ;
  font-weight:bold;
  padding:10px;
  
  }
  .content1-section p{
    color: #666;
    font-size: 24px;
    line-height: 45px;
    margin-bottom: 53px;
    text-shadow: 0 2px 14px rgba(0,0,0,.38);
  }
  .Aenroll-button{
    margin: 0px;
    padding: 13px;
    border: none;
    border-radius: 30px;
    margin: 0;
    width: 25%;
    font-size: 16px;
    background-color: #f83e60;
    transition: background-color 0.3s ease;
  }
  .Aenroll-button:hover {
    background-color: #7d7c7bfc;
  }